table.output{
	border:solid 1px #aaa;
	margin:10px 0;
	empty-cells: show;
}
table.output th{
    background: #879cbd;
    border-bottom: 1px solid #aaa;
    color: #fff;
    font-weight: bold;
    padding: 4px 9px;
    vertical-align: bottom;
    white-space: nowrap;
    text-align: center;
}
table.output td{
	background: #f4f4f4;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    padding: 2px 9px;
	
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}