.sidebar-nav-subitem {
    display: block;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
    font-size: small;
    display:none;
}
.sidebar-nav-subitem.active,
a.sidebar-nav-subitem:hover,
a.sidebar-nav-subitem:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
}

@media (min-width: 48em) {
    .sidebar-item {
        padding: 1.5rem;
    }
    .sidebar-nav-subitem {
        padding-left:  2.5rem;
        padding-right: 1.5rem;
    }
}

.accordion-show{
    display:block;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 250px;
    overflow:auto;
}

xmp {
    white-space: pre-wrap;
}

.framecontainer{
    width:100%;
}

.framecontent{
	display:block;
    width:100%;
    position:absolute;
}


.leftcontainer{
    width:60%;
    float:left;
    padding:0 10 0 10;
}

.rightcontainer{
    width:33%;
    float:left;
    padding:0 10 0 10;
}

.buttonstyle{
	display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
