<Context>
 <Resource auth="Container"
              driverClassName="org.h2.Driver"
              maxActive="300" 
              maxIdle="30"
              maxWait="10000"
              name="jdbc/smtpservice"
              type="javax.sql.DataSource" 
              username="sa" 
              url="jdbc:h2:file:${dbpath};"/>   
 
</Context>
