<div id="addmessageexample" ng-controller="addmessageCtrl">
	<h2 id="addmessagetag">addMessage</h2>

	<p>Add a message to the context</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in addmessagetabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="addmessagecurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton" ng-click="common.runSimplity('tutorial.addMessage','#addmessageexample')"><a href="JavaScript:void(0)">Run</a></li>								
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<div> Alert message will be shown </div>
			</div>
		</div>
	</div>
</div>