<div id="copyuseridexample" ng-controller="copyuseridCtrl">
	<h2 id="copyuseridtag">copyUserId</h2>
	<p>Set the special value userId that has the logged-in user id.</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in copyuseridtabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="copyuseridcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.copyUserId','#copyuseridexample')"><a
					href="JavaScript:void(0)">Run</a></li>

			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<div id="testValue"></div>
			</div>
		</div>
	</div>
</div>