<div id="copyrowsexample" ng-controller="copyrowsCtrl">
	<h2 id="copyrowstag">copyRows</h2>
	<p>Copy rows from a compatible sheet.</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in copyrowstabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="copyrowscurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.copyRows','#copyrowsexample')"><a
					href="JavaScript:void(0)" class="tablinks">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				Number of rows copied:
				<div id="testValue"></div>
			</div>
		</div>
	</div>
</div>