<div id="createsheetexample" ng-controller="createsheetCtrl">
	<div>
		<div style="width: 60%; float: left; padding: 0 10 0 10;">
			<h3 id="code">Code</h3>
		</div>
		<div style="width: 33%; float: left; padding: 0 10 0 10;">
			<button class="buttonstyle"
				ng-click="common.runSimplity('tutorial.createSheet','#createsheetexample')">Run</button>
		</div>
	</div>
	<div>
		<div class="leftcontainer">
			<div id="createsheettabs">
				<ul class="tab">
					<li ng-repeat="tab in createsheettabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div id="createsheetmainView" class="tabcontent">
					<p ng-bind-html="createsheetcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__list__" style="display: none;">
							<td>__text__</td>
							<td>__int__</td>
							<td>__decimal__</td>
							<td>__date__</td>
							<td>__bool__<</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>