<div id="createsheetexample" ng-controller="createsheetCtrl">
	<h2 id="createsheettag">createSheet</h2>
	<p>Create Sheet action allows creation of JSON arrays</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in createsheettabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="createsheetcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.createSheet','#createsheetexample')"><a
					href="JavaScript:void(0)">Run</a></li>
				<li class="runbutton"
					ng-click="common.download('tutorial.createSheet','list')"><a
					href="JavaScript:void(0)">Download</a></li>					
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__list__" style="display: none;">
							<td>__text__</td>
							<td>__int__</td>
							<td>__decimal__</td>
							<td>__date__</td>
							<td>__bool__<</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>