<div id="downloadexample" ng-controller="downloadCtrl">
	<h2 id="downloadtag">download</h2>
	<p>download a file</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in downloadtabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="downloadcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.getAttachments','#downloadexample')"><a
					href="JavaScript:void(0)">Run</a></li>				
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__files__" style="display: none;">
							<td>__name__</td>
						<td>__mime__</td>
						<td>__key__</td>
						<td><a href="a._f?download=__key__">download</a></td>
						<td><a href="a._f?__key__" target="_new">open in new
								window</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>