<div id="filterexample" ng-controller="filterCtrl">
	<h2 id="filtertag">filter</h2>

	<p>Read a row from a record, and possibly read relevant rows from
		related records</p>

	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in filtertabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="filtercurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.filterTest','#filterexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__customers__" style="display: none;">
							<td>__customerNumber__</td>
							<td>__customerName__</td>
							<td>__contactLastName__</td>
							<td>__contactFirstName__</td>
							<td>__phone__</td>
							<td>__addressLine1__</td>
							<td>__addressLine2__</td>
							<td>__city__</td>
							<td>__state__</td>
							<td>__postalCode__</td>
							<td>__country__</td>
							<td>__salesRepEmployeeNumber__</td>
							<td>__creditLimit__</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>