<div id="jumptoexample" ng-controller="jumptoCtrl">
	<h2 id="jumptotag">jumpTo</h2>
	<p>Service has actions that are executed in a sequence. JumpTo
		allows you to change this sequence.</p>

	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in jumptotabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="jumptocurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.jumpTo','#jumptoexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<div id="island"></div>
				<div id="leader"></div>
				<div id="gang"></div>
				<div id="adversary1"></div>
				<div id="adversary2"></div>
				<div id="comma"></div>
				<div id="novel"></div>
			</div>
		</div>
	</div>
</div>