<div id="logicexample" ng-controller="LogicCtrl">
	<h2 id="logictag">logic</h2>
	<p>Logic action allows java classes to manipulate the data fields.
		The Java class must implement LogicInterface</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in logictabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="logiccurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.Logic','#logicexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<div id="island"></div>
				<div id="leader"></div>
			</div>
		</div>
	</div>
</div>