<div id="readwithsqlexample" ng-controller="readwithsqlCtrl">
	<h2 id="readwithsqltag">readWithSql</h2>
	<p>Read a row/s from as output of a prepared statement/sql</p>
	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in readwithsqltabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="readwithsqlcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.readWithSql','#readwithsqlexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__Employees__" style="display: none;">
							<td>__lastName__</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>