<div id="savedatamodifyexample" ng-controller="savedatamodifyCtrl">
	<h2 id="savedatamodifytag">save/modify</h2>
	<p>Save (add/modify/delete) a row from a record, and possibly save
		relevant rows from related records</p>
	<div>
		<div class="leftcontainer">
			<div id="savedatamodifytabs">
				<ul class="tab">
					<li ng-repeat="tab in savedatamodifytabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div id="savedatamodifymainView" class="tabcontent">
					<p ng-bind-html="savedatamodifycurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.saveDataModify','#savedatamodifyexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				No. of rows modified:
				<div id="testValue"></div>
			</div>
		</div>
	</div>
</div>