<div id="setvalueexample" ng-controller="SetValueCtrl">

	<h2 id="setvaluetag">set-value</h2>

	<p>Set value for a field in the service xml on the server side. On
		the client side, simplity js populates the node with field name as id</p>

	<div>
		<div class="leftcontainer">
			<div>
				<ul class="tab">
					<li ng-repeat="tab in setvaluetabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div class="tabcontent">
					<p ng-bind-html="setvaluecurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
				<li class="runbutton"
					ng-click="common.runSimplity('tutorial.SetValue','#setvalueexample')"><a
					href="JavaScript:void(0)">Run</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<div id="island"></div>
				<div id="leader"></div>
			</div>
		</div>
	</div>
</div>