<div id="suggestexample" ng-controller="suggestCtrl">
	<div>
		<div style="width: 60%; float: left; padding: 0 10 0 10;">
			<h3 id="code">Code</h3>
		</div>
		<div style="width: 33%; float: left; padding: 0 10 0 10;">
			<button class="buttonstyle"
				ng-click="common.runSimplity('tutorial.suggest','#suggestexample')">Run</button>
		</div>
	</div>
	<div>
		<div class="leftcontainer">
			<div id="suggesttabs">
				<ul class="tab">
					<li ng-repeat="tab in suggesttabs"
						ng-class="{active:isActiveTab(tab.url)}"
						ng-click="onClickTab(tab)">{{tab.title}}</li>
				</ul>
				<div id="suggestmainView" class="tabcontent">
					<p ng-bind-html="suggestcurrentTab" class="binding"></p>
				</div>
			</div>
		</div>
		<div class="rightcontainer">
			<ul class="tab">
				<li><a href="JavaScript:void(0)" class="tablinks">Output</a></li>
			</ul>
			<div id="OUTPUT" class="output" style="display: block">
				<table>
					<tbody>
						<tr id="__Employees__" style="display: none;">
							<td>__firstName__</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>