<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <!-- 
  	component folder defaults to WEB-INF/comp/ Hence commented. change if required 
  <context-param>
    <param-name>comp-folder</param-name>
    <param-value>WEB-INF/comp/</param-value>
  </context-param>
    <listener>
		<listener-class>org.simplity.http.SessionListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>Startup</servlet-name>
    <servlet-class>org.simplity.http.Startup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  -->
  <!-- Main service -->
  <servlet>
    <servlet-name>s</servlet-name>
    <servlet-class>org.simplity.http.Serve</servlet-class>
  </servlet>
  
  <!-- login service -->
  <servlet>
    <servlet-name>i</servlet-name>
    <servlet-class>org.simplity.http.DefaultLogin</servlet-class>
  </servlet>
  <!--  logout service -->
  <servlet>
    <servlet-name>o</servlet-name>
    <servlet-class>org.simplity.http.DefaultLogout</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>*._s</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>i</servlet-name>
    <url-pattern>*._i</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>o</servlet-name>
    <url-pattern>*._o</url-pattern>
  </servlet-mapping>
</web-app>