.DDbox {
	BORDER-TOP: #969695 1px solid; BORDER-RIGHT: #969695 1px solid; BORDER-BOTTOM: #969695 0px solid; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #969695 1px solid; Z-INDEX: 80; TOP: 0px; PADDING-RIGHT: 0px; VISIBILITY: hidden; BACKGROUND-COLOR: #ffffff
}
.DDbox A.m {
	HEIGHT: 19px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/dropmenu_off.gif); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 15px; Z-INDEX: 10; DISPLAY: block; PADDING-RIGHT: 0px
}
.DDbox A.m:hover {
	HEIGHT: 19px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/dropmenu_on.gif); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox {
	OVERFLOW: hidden; BORDER-TOP: #969695 0px solid; BORDER-RIGHT: #969695 1px solid; WIDTH: 50%; BACKGROUND-IMAGE: url(../images/left_level3_bg.gif); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #969695 0px solid; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #969695 0px solid; Z-INDEX: 4; TOP: 0px; PADDING-RIGHT: 0px; VISIBILITY: hidden
}
.LMbox A.LF {
	CURSOR: auto; FONT-SIZE: 10px; HEIGHT: 18px; WIDTH: 178px; BACKGROUND-IMAGE: url(../images/left_level3_LFOFF.gif); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.LF:hover {
	FONT-SIZE: 10px; HEIGHT: 18px; WIDTH: 178px; BACKGROUND: url(../images/left_level3_LFON.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.LFSEL {
	CURSOR: default; FONT-SIZE: 10px; HEIGHT: 18px; WIDTH: 178px; BACKGROUND: url(../images/left_level3_LFdarkON.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.L {
	CURSOR: auto; FONT-SIZE: 10px; HEIGHT: 18px; WIDTH: 178px; BACKGROUND-IMAGE: url(../images/left_level3_OFF.gif); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.L:hover {
	FONT-SIZE: 10px; HEIGHT: 18px; WIDTH: 178px; BACKGROUND: url(../images/left_level3_ON.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.LS {
	CURSOR: auto; FONT-SIZE: 10px; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 178px; BACKGROUND-IMAGE: url(../images/left_level3_LFONSEL.gif); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox A.LS:hover {
	CURSOR: default; FONT-SIZE: 10px; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 178px; BACKGROUND: url(../images/left_level3_LFONSEL.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.LMbox .end {
	FONT-SIZE: 0px; HEIGHT: 3px; WIDTH: 193px; BACKGROUND-IMAGE: url(../images/left_level3_end.gif); BACKGROUND-REPEAT: no-repeat
}
