#footerBOX {
	HEIGHT: 100px; WIDTH: 1002px; BACKGROUND-IMAGE: url(../images/footer_bg.gif); BACKGROUND-REPEAT: repeat-x; POSITION: relative; BACKGROUND-POSITION: 50% bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
#footerBOX #LEFT {
	HEIGHT: 88px; WIDTH: 15px; BACKGROUND-IMAGE: url(../images/footer_left.gif); BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 0px; Z-INDEX: 90; TOP: 12px; PADDING-RIGHT: 0px
}
#footerBOX #RIGHT {
	HEIGHT: 88px; WIDTH: 226px; BACKGROUND-IMAGE: url(../images/footer_right.gif); RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 91; TOP: 12px; PADDING-RIGHT: 0px
}
#footerBOX #RIGHT2 {
	HEIGHT: 88px; WIDTH: 174px; BACKGROUND-IMAGE: url(../images/footer_right2.gif); RIGHT: 227px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 92; TOP: 12px; PADDING-RIGHT: 0px
}
#footerBOX #LINK {
	FONT-SIZE: 9px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 21px; Z-INDEX: 94; TOP: 47px; PADDING-RIGHT: 0px
}
#footerBOX #LINK A {
	COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
#footerBOX #BROWSERINFO {
	FONT-SIZE: 9px; POSITION: absolute; COLOR: #8c8c8c; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 23px; Z-INDEX: 119; TOP: 67px; PADDING-RIGHT: 0px
}
#footerBOX #NAV {
	FONT-SIZE: 9px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 21px; Z-INDEX: 93; TOP: 32px; PADDING-RIGHT: 0px
}
#footerBOX #NAV A {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
