#leftBOX {
	WIDTH: 215px; BACKGROUND-IMAGE: url(../images/left_basetop.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 7px; PADDING-TOP: 10px; PADDING-LEFT: 0px; Z-INDEX: 3; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #c1c1c1
}
#leftBOX IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
#leftBOX .textbox {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, sans-serif; WIDTH: 170px
}
#leftBOX #baseBOTTOM {
	FONT-SIZE: 0px; HEIGHT: 9px; WIDTH: 19px; BACKGROUND-IMAGE: url(../images/left_basebottom.gif); BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 0px; Z-INDEX: 88; PADDING-RIGHT: 0px; BOTTOM: 0px
}
#leftBOX #TOP {
	FONT-SIZE: 0px; HEIGHT: 10px; WIDTH: 215px; BACKGROUND-IMAGE: url(../images/leftTOP.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX H3 {
	FONT-SIZE: 16px; HEIGHT: 33px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/left_h3.gif); BACKGROUND-REPEAT: repeat-y; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 15px
}
#leftBOX H3 A.bh {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #fcdcfc; FONT-WEIGHT: normal; COLOR: #0267fe; LINE-HEIGHT: 15px
}
#leftBOX H3 A.bh:hover {
	FONT-SIZE: 9px; TEXT-DECORATION: underline; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #fcdcfc; FONT-WEIGHT: normal; COLOR: #0267fe; LINE-HEIGHT: 15px
}
#leftBOX H3 B {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #fcdcfc; FONT-WEIGHT: normal; COLOR: #828181; LINE-HEIGHT: 15px
}
#leftBOX H3 B:hover {
	FONT-SIZE: 9px; TEXT-DECORATION: underline; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #fcdcfc; FONT-WEIGHT: normal; COLOR: #828181
}
#leftBOX H3 #EXP {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #828181; LEFT: 16px
}
#leftBOX H3 #EXP A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#leftBOX H3 #EDIT {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; RIGHT: 15px; POSITION: absolute; FONT-WEIGHT: normal; TOP: 0px
}
#leftBOX H3 #EDIT A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#leftBOX #h3END {
	FONT-SIZE: 0px; HEIGHT: 7px; WIDTH: 215px; BACKGROUND-IMAGE: url(../images/left_h3END.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX H4 {
	FONT-SIZE: 16px; HEIGHT: 23px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/left_h4.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 15px
}
#leftBOX H4 B {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
#leftBOX H5 {
	HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/left_h5.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 15px
}
#leftBOX A.left {
	HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftOFF.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 1px; PADDING-RIGHT: 15px
}
#leftBOX A.left:hover {
	HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftON.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.left2 {
	HEIGHT: 41px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/left_OFF2.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 1pt; PADDING-RIGHT: 15px
}
#leftBOX A.left2:hover {
	WIDTH: 190px; BACKGROUND-IMAGE: url(../images/left_ON2.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 1pt; PADDING-RIGHT: 15px
}
#leftBOX A.sel1 {
	CURSOR: default; HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftSEL.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; BACKGROUND-POSITION: 50% bottom; COLOR: #616161; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.sel2 {
	CURSOR: default; HEIGHT: 41px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftSEL2.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; BACKGROUND-POSITION: 50% bottom; COLOR: #616161; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.sel2:hover {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 41px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftSEL2.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; BACKGROUND-POSITION: 50% bottom; COLOR: #616161; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.sel1:hover {
	CURSOR: default; TEXT-DECORATION: none; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftSEL.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% bottom; COLOR: #616161; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.sel1:visited {
	CURSOR: default; HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftSEL.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #616161; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftdown {
	HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftdownOFF.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftdown:hover {
	HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftdownON.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftdownSEL {
	HEIGHT: 27px; WIDTH: 190px; BACKGROUND-IMAGE: url(../images/leftdownON.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2 {
	HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_off.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2new {
	HEIGHT: 28px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_offnew.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2:hover {
	TEXT-DECORATION: underline; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2new:hover {
	TEXT-DECORATION: underline; HEIGHT: 28px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_onnew.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel22 {
	HEIGHT: 28px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level22_off.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel22:hover {
	TEXT-DECORATION: underline; HEIGHT: 28px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level22_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3 {
	CURSOR: default; FONT-SIZE: 11px; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3_LFONEXP.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3SEL {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3LINE:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: underline; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3_mouse_over.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: normal; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3LINE {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3_mouse_over.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: underline; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3_mouse_over.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: normal; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3LANDING {
	FONT-SIZE: 11px; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3LANDING1_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3LANDINGSEL {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3LANDING1_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel3LANDING:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: underline; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level3_mouse_over.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: normal; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2SEL {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel22SEL {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level22_on.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; COLOR: #0267fe; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2SELMENU {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_menu.OFF.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: bold; COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX A.leftlevel2SELMENU:hover {
	CURSOR: default; TEXT-DECORATION: none; HEIGHT: 18px; WIDTH: 160px; BACKGROUND-IMAGE: url(../images/left_level2_menu.ON.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; FONT-WEIGHT: bold; COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 40px; DISPLAY: block; PADDING-RIGHT: 15px
}
#leftBOX #WHITERIGHT {
	HEIGHT: 20px; WIDTH: 180px; BACKGROUND-IMAGE: url(../images/left_wEND.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 15px
}
#leftBOX #WHITERIGHT A {
	FONT-SIZE: 9px
}
#leftBOX #WHITEBG {
	WIDTH: 180px; BACKGROUND-IMAGE: url(../images/left_whiteBG.gif); BACKGROUND-REPEAT: repeat-y; POSITION: relative; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 15px
}
#leftBOX #END {
	FONT-SIZE: 0px; HEIGHT: 15px; WIDTH: 215px; BACKGROUND-IMAGE: url(../images/leftWHITEEND.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX #BEGIN {
	FONT-SIZE: 0px; HEIGHT: 15px; WIDTH: 215px; BACKGROUND-IMAGE: url(../images/leftWHITEBEGIN.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX #WHITEBANNER {
	HEIGHT: 78px; WIDTH: auto; BACKGROUND-IMAGE: url(../Me/me_images/katrinal_relief_fund_image.jpg); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX UL {
	LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 4px; CLEAR: both; MARGIN: 0px 0px 4px 10px; PADDING-RIGHT: 0px
}
#leftBOX LI {
	LIST-STYLE: square url(../images/left_bullet.gif) outside; LINE-HEIGHT: 19px
}
#leftBOX UL .arrow {
	LIST-STYLE-TYPE: square; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 0px 10px; LIST-STYLE-IMAGE: url(../images/middle_bullet.gif); LINE-HEIGHT: 19px; PADDING-RIGHT: 0px
}
#leftBOX .downarrow {
	LIST-STYLE-TYPE: square; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LIST-STYLE-IMAGE: url(../images/left_downarrow.gif); LINE-HEIGHT: 19px; PADDING-RIGHT: 0px
}
#leftBOX LI .selected {
	LIST-STYLE: square url(../images/left_bullet.gif) outside; LINE-HEIGHT: 19px
}
#leftBOX #line {
	FONT-SIZE: 0px; HEIGHT: 5px; WIDTH: 215px; BACKGROUND-IMAGE: url(../images/right_line.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#leftBOX .more {
	FONT-SIZE: 9px; TEXT-ALIGN: right
}
#leftBOX .name {
	FONT-SIZE: 9px; COLOR: #0267fe; TEXT-ALIGN: right
}
#leftBOX .level2highlight {
	HEIGHT: 21px; WIDTH: 207px; BACKGROUND-IMAGE: url(../images/left_level3_mouse_over_tran.gif); POSITION: absolute; Z-INDEX: 78; VISIBILITY: hidden
}
