#topBOX {
	HEIGHT: 90px; WIDTH: 1002px; BACKGROUND-IMAGE: url(../images/topBG.jpg); BACKGROUND-REPEAT: repeat-x; POSITION: relative; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; Z-INDEX: 90; PADDING-RIGHT: 0px
}
#topBOX #menu {
	POSITION: absolute; LEFT: 222px; Z-INDEX: 2; TOP: 84px
}
#topBOX #home {
	FONT-SIZE: 9px; POSITION: absolute; LEFT: 18px; Z-INDEX: 84; TOP: 69px
}
#topBOX #Infosys {
	FONT-SIZE: 9px; HEIGHT: 27px; WIDTH: 68px; BACKGROUND: url(../images/top_infosys.gif) no-repeat; POSITION: absolute; LEFT: 233px; Z-INDEX: 84; TOP: 11px
}
#topBOX #home A {
	COLOR: #70a9ff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
#topBOX #home A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #70a9ff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
#topBOX #LOGO {
	HEIGHT: 90px; WIDTH: 223px; BACKGROUND-IMAGE: url(../images/topLOGO.jpg); BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 0px; Z-INDEX: 1; TOP: 0px; PADDING-RIGHT: 0px
}
#topBOX #RIGHT {
	HEIGHT: 90px; WIDTH: 17px; BACKGROUND-IMAGE: url(../images/topRIGHT.jpg); RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 87; TOP: 0px; PADDING-RIGHT: 0px
}
#topBOX .SEARCH {
	FONT-SIZE: 9px; RIGHT: 18px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 85; TOP: 10px; PADDING-RIGHT: 0px
}
#topBOX .SEARCH A {
	COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
#topBOX .SEARCH A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
#topBOX .SEARCH IMG {
	VERTICAL-ALIGN: middle
}
#topBOX .SEARCH .form {
	FONT-SIZE: 10px; BORDER-TOP: #1b4494 1px solid; HEIGHT: 17px; BORDER-RIGHT: #1b4494 1px solid; WIDTH: 125px; VERTICAL-ALIGN: top; BORDER-BOTTOM: #1b4494 1px solid; COLOR: #757372; BORDER-LEFT: #1b4494 1px solid
}
#topBOX #NAV {
	WIDTH: 758px; VERTICAL-ALIGN: middle; POSITION: absolute; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 222px; MARGIN: 0px; Z-INDEX: 86; TOP: 45px; PADDING-RIGHT: 0px
}
#topBOX #NAV IMG {
	VERTICAL-ALIGN: middle; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#topBOX #NAV A {
	COLOR: #ffffff; PADDING-BOTTOM: 15px; PADDING-TOP: 13px; PADDING-LEFT: 15px; MARGIN: 0px; PADDING-RIGHT: 15px
}
#topBOX #NAV A:hover {
	TEXT-DECORATION: none; BACKGROUND-IMAGE: url(../images/top_nav_on.gif); BACKGROUND-REPEAT: repeat-x; COLOR: #ffffff; PADDING-BOTTOM: 15px; PADDING-TOP: 13px; PADDING-LEFT: 15px; MARGIN: 0px; PADDING-RIGHT: 15px
}
#topBOX #NAV .selected {
	TEXT-DECORATION: none; BACKGROUND-IMAGE: url(../images/top_nav_on.jpg); BACKGROUND-REPEAT: repeat-x; COLOR: #666666; PADDING-BOTTOM: 15px; PADDING-TOP: 13px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
#topBOX #NAV sel2 {
	TEXT-DECORATION: none; BACKGROUND-IMAGE: url(../images/top_nav_on.jpg); BACKGROUND-REPEAT: repeat-x; COLOR: #666666; PADDING-BOTTOM: 18px; PADDING-TOP: 13px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
#topBOX #NAV .right {
	RIGHT: 0px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TOP: 10px; PADDING-RIGHT: 0px
}
#topBOX #NAV .form {
	FONT-SIZE: 9px; BORDER-TOP: #3465af 1px solid; BORDER-RIGHT: #3465af 1px solid; WIDTH: 175px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #3465af 1px solid; COLOR: #757372; BORDER-LEFT: #3465af 1px solid
}
#topUSER {
	FONT-SIZE: 10px; HEIGHT: 15px; WIDTH: 983px; POSITION: relative; TEXT-ALIGN: left; PADDING-LEFT: 15px; PADDING-RIGHT: 5px
}
#topUSER .date {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; RIGHT: 232px; POSITION: absolute; FONT-WEIGHT: normal; COLOR: #828181; TOP: 0px
}
#topUSER .link {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; RIGHT: 12px; POSITION: absolute; FONT-WEIGHT: normal; COLOR: #828181; TOP: 0px
}
