<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AFE-2016</title>
<script src="public/js/angular.min.js"></script>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
</head>
<body>
	<div ng-app="submissionApp" ng-controller="formCtrl" ng-init="init()"
		class="container">
		<div class="row">
			<button class="btn-lg" ng-click="newnominationhtml()">New
				Nomination</button>
			<button class="btn-lg" ng-click="viewsubmissionhtml()">View
				Nominations</button>
		</div>
		<hr>
		<div ng-if="state=='view' && nominations.length > 0 " class="row">
			<div ng-include="'viewsubmissions.html'"></div>
			<div ng-submit="submit()"
				ng-include="'submissionform.html'"></div>
		</div>
		<div ng-if="state=='new'" class="row">
			<div class="container" ng-submit="submit()"
				ng-include="'submissionform.html'"></div>
		</div>
	</div>
	<script type="text/javascript" src="public/js/simplity.js"></script>
	<!-- script type="text/javascript">
var WinNetwork = new ActiveXObject("WScript.Network");
Simplity.login(WinNetwork.UserName);
</script-->
	<script type="text/javascript" src="public/js/submission.js"></script>
</body>
</html>