<form name="forms.submissionForm" novalidate class="well">
	<fieldset ng-disabled="disableform">
		<h3>Nomination form</h3>
		<hr>
		<div class="row">
			<div class="form-group col-xs-12">
				<label for="categories">Categories</label> 
				<select	class="form-control" id="categories"
					ng-model="nomination.selectedCategory"
					ng-options="x.category as x.category group by x.group for x in categories | orderBy:'category'">
				</select>
			</div>
		</div>
		<span style="color: red" ng-show="showCategoryError">Select Category</span>
		<hr>
		<div class="form-group row">
			<label for="nomination" class="col-xs-2 col-form-label">Nomination Title</label>
			<div class="col-xs-10">
				<input class="form-control" type="text" name="title" maxlength="45"
					placeholder="Nomination Title" ng-model="nomination.nomination"
					aria-describedby="nominationHelp" required><span
					style="color: red"
					ng-show="showTitleError">Enter Nomination Title.</span> <br>
				<small id="nominationHelp" required>Please DO NOT mention
					any client/customer name in the title – Incase client/customer name
					appears request you to kindly get the client/customer approval for
					the same. Please limit your nomination title to 5 words (45
					characters) </small>
			</div>
		</div>
		<div class="form-group row">			
			<label for="summary" class="col-xs-4 col-form-label">Executive Summary</label>
			<div class="col-xs-10">
			<textarea class="form-control" rows="3" maxlength="1500" name="summary"
					placeholder="Executive Summary" ng-model="nomination.summary"
					aria-describedby="summaryHelp" required></textarea><span
					style="color: red"
					ng-show="showSummaryError">Enter Executive Summary.</span>
					<small id="summaryHelp" required>Please limit your summary to 1500 characters</small> 
			</div>
		</div>
		<h3>Sponsor</h3>
		<div class="row">
			<div class="form-group col-xs-4">
				<label for="sponsormailid">Email ID</label> 
				<input type="text"
					class="form-control" ng-model="nomination.sponsorMail"
					placeholder="Enter email" aria-describedby="emailHelp"
					ng-change="getsponsormailsuggestion(nomination.sponsorMail)"
					typeahead="employee.mail for employee in employees | filter:$viewValue:startsWith"
					typeahead-on-select="populatesponsordata($item)">
			</div>
			<div class="form-group col-xs-4">
				<label for="sponsorname">Name</label> <input class="form-control"
					type="text" placeholder="Sponsor Name"
					ng-model="nomination.sponsorname" disabled>
			</div>
			<div class="form-group col-xs-4">
				<label for="sponsornumber">Employee Number</label> <input
					class="form-control" type="text"
					placeholder="Sponsor Employee Number"
					ng-model="nomination.sponsornumber" disabled>
			</div>
			<span style="color: red">{{ sponsorError }}</span> 
		</div>
		<div ng-repeat="c in categories" ng-if="c.category == nomination.selectedCategory" ng-init="setMembers(c)"></div>
		<div ng-show="showMembers">
		<h3>Details of Members</h3>
		<span>The maximum number of members you can nominate is : {{maxMembers}}</span>		
		<div style="color: green">Please click '+' to add a member</div>
		<span style="color: red" ng-show="showMemberError">Nominate
			atleast {{minMembers}} member for the selected category</span> 
		<div class="form-group">
			<table id="members" class="table">
				<tr class="row">
					<th class="col-xs-1"></th>
					<th class="col-xs-2">Email ID</th>
					<th class="col-xs-1">Emp.No</th>
					<th class="col-xs-2">Name</th>
					<th class="col-xs-2">Unit/Dept</th>
					<th class="col-xs-6">Details of Individual Contribution</th>
					<th class="col-xs-1"></th>
				</tr>
				<tr class="row">
					<td class="col-xs-1" ng-if="enableplus"><span
						class="glyphicon glyphicon-plus" aria-hidden="true"
						ng-click="disableform || addrow()"></span></td>
					<td ng-if="!enableplus"></td>
					<td class="col-xs-2">
					<input class="form-control"
						id="typeahead" ng-model="addmember.employeeMail"
						placeholder="Email Id"
						ng-change="getmailsuggestion(addmember.employeeMail)"
						typeahead="employee.mail for employee in employees | filter:$viewValue:startsWith"
						typeahead-on-select="populatememberdata($item)">
						<span style="color: red">{{ memberMailError }}</span>
						</td>
					<td class="col-xs-1"><input class="form-control"
						ng-model="addmember.eNo" placeholder="Emp No" disabled></td>
					<td class="col-xs-2"><input class="form-control"
						ng-model="addmember.Name" placeholder="Name" disabled></td>
					<td class="col-xs-2"><input class="form-control"
						ng-model="addmember.Unit" placeholder="Unit" disabled></td>
					<td class="col-xs-6"><textarea class="form-control" rows="3" maxlength="3000"
						ng-model="addmember.contribution"
						placeholder="Individual Contribution"></textarea>
						<span style="color: red" ng-show="contributionError">Enter Individual contribution</span></td>
				</tr>
				<tr ng-repeat="x in nomination.members" class="row"
					ng-include="getTemplate($index)">
				</tr>
			</table>
		<span>**Please
			limit the number of members to the maximum allowed under the category
		</span>
		</div>
		</div>
		<hr>
		<span>Important Guidelines</span>
		<ul>
			<li>Please note that only one nomination per account / project /
				program will be allowed and accepted. Units/ BEFs should decide the
				best category suitable for the nomination and nominate accordingly</li>
			<li>Upload the Files in .zip format</li>
			<li>Please limit the file name of your .zip file to less than
				ten characters</li>
			<li>If there are various programs under an account, each program
				is eligible to be nominated once</li>
			<li>Nomination Upload not supported by Google Chrome, Please use
				Internet Explorer instead.</li>
		</ul>
		<hr>
		<div class="container-fluid" ng-if="state=='new' || state=='view'">
			<div class="row">
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[0]"
						class="form-check-input"> Whether the entry criteria if
						applicable has been complied with or not?
					</label>
				</div>
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[1]"
						class="form-check-input"> Whether the nomination has been restricted to 5 pages or not?
					</label> 
				</div>
			</div>
			<div class="row">
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[2]"
						class="form-check-input"> Whether the details of team members have been correctly provided or not?
					</label>
				</div>
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[3]"
						class="form-check-input"> Whether the number of team member is restricted as per the nomination criteria or not?
					</label>
				</div>
			</div>
			<div class="row">
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[4]"
						class="form-check-input"> Whether the individual contribution of the team members is provided or not?
					</label>
				</div>
				<div class="form-check col-xs-6">
					<label class="form-check-label"> <input type="checkbox" ng-model="nomination.checkbox[5]"
						class="form-check-input"> Whether all necessary data validation has been completed or not?
					</label>
				</div>
			</div>
		</div>

		<hr>
		
<div class="form-group">
		<label for="uploadNomination">Upload Nomination</label> <input
			type="file" ng-model-instant class="form-control-file" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
			id="uploadNomination" aria-describedby="fileHelp"
			onchange="angular.element(this).scope().fileupload(this)"> <small
			id="fileHelp" class="form-text text-muted">
			<span ng-if="state=='new'">Please upload a zip file and limit the size of the file to 5MB only</span>
			<span ng-if="state=='view'">Please note that the uploaded file will replace the existing file</span></small>
	</div>
	<hr>
	<div ng-if="state == 'new' || state == 'view'">
	
	<button type="submit" class="btn btn-primary" ng-if="state=='new'"  ng-click="submit('Saved')">Save</button>
	<button type="submit" class="btn btn-primary" ng-if="state=='view'" ng-click="disableform || updatenomination(nomination,'Saved')">Update</button>
	
	<button type="submit" class="btn btn-primary" ng-if="state=='new'" ng-click="submit('Submitted')">Submit</button>
	<button type="submit" class="btn btn-primary" ng-if="state=='view'" ng-click="disableform || updatenomination(nomination,'Submitted')">Submit</button>
	<button type="submit" class="btn btn-primary" ng-if="state=='new'" ng-click="reset()">Reset</button>
	</div>
	<div ng-if="state == 'admin'">
	<button type="submit" class="btn btn-primary" ng-click="updatenomination(nomination,nomination.status)">Update</button>
	</div>
	</fieldset>
</form>
<script type="text/ng-template" id="displaymembers">
        <td class="col-xs-1">{{$index+1}}</td>
        <td class="col-xs-2">{{x.employeeMail}}</td>
        <td class="col-xs-1">{{x.eNo}}</td>
        <td class="col-xs-2">{{x.Name}}</td>
        <td class="col-xs-2">{{x.Unit}}</td>
        <td class="col-xs-3">{{x.contribution}}</td>
        <td class="col-xs-1"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="disableform || editmember($index)">&nbsp;</span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="disableform || removerow($index)"></span></td>
    </script>
<script type="text/ng-template" id="editmembers">
        <td class="col-xs-1">{{$index+1}}</td>
        <td class="col-xs-2"><input class="form-control" type="text" ng-model="x.employeeMail"></td>
        <td class="col-xs-1"><input class="form-control" type="text" ng-model="x.eNo"></td>
        <td class="col-xs-2"><input class="form-control" type="text" ng-model="x.Name"></td>
        <td class="col-xs-2"><input class="form-control" type="text" ng-model="x.Unit"></td>
        <td class="col-xs-3"><input class="form-control" type="text" ng-model="x.contribution"></td>
        <td class="col-xs-1"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ng-click="disableform || savemember($index)"></span></td>
    </script>
