<div>
<h3>Submissions</h3>
<table  class="table">
	<tr class="row">
		<th class="col-xs-1"></th>
		<th class="col-xs-2">Category</th>
		<th class="col-xs-1">Level</th>
		<th class="col-xs-2">Title</th>
		<th class="col-xs-1">Sponsor</th>
		<th class="col-xs-1">Document File</th>
		<th class="col-xs-1">Status</th>
		<th class="col-xs-1">Action</th>				
		<th class="col-xs-1"></th>
	</tr>
	<tr ng-repeat="x in nominations" class="row" ng-click="viewsubmission(x)" style="cursor: pointer;">
		<td class="col-xs-1">{{$index+1}}</td>
		<td class="col-xs-2">{{x.selectedCategory}}</td>
		<td class="col-xs-1">{{x.selectedLevel}}</td>
		<td class="col-xs-2">{{x.nomination}}</td>
		<td class="col-xs-2">{{x.sponsormailid}}</td>
		<td class="col-xs-1" ng-if="x.filekey != ''"><a ng-href="a._f?download={{x.filekey}}&filename={{x.filename}}" type="application/x-zip-compressed"> download</a></td>
		<td class="col-xs-1" ng-if="x.filekey == ''"></td>
		<td class="col-xs-1">{{x.status}}</td>
		<td class="col-xs-1" ng-if="x.status=='Saved'">
		<button ng-click="viewsubmission(x);updatenomination(x,'Submitted')">Submit</button>
		</td>
		<td class="col-xs-1" ng-if="x.status=='Submitted'">
		<button ng-click="viewsubmission(x);updatenomination(x,'Saved')">Recall</button>
		</td>
		<td class="col-xs-1" ng-if="x.status=='Approved' || x.status=='Rejected'">
		<button ng-disabled="true">No Action</button>
		</td>
		<td class="col-xs-1" ng-if="x.status=='Saved'"><span
			class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removenomination($index)"></span>
		</td>
		<td class="col-xs-1" ng-if="x.status!='Saved'"></td>
	</tr>
</table>
</div>