<div style="width: 100%; padding: 10px 10px 10px 10px;">
	<h3 style="display: inline;">Sponsorship requests</h3>
	&nbsp;&nbsp;&nbsp;<i>(Select the row to view or edit)</i>
	<hr>
	<div ng-if="sponsors.length == 0">
		<h4>There are no records to display</h4>
	</div>
	<div id="parenttable">
	<table class="table" ng-if="sponsors.length > 0"
		ng-init="viewsubmission(sponsors[0])">
		<thead>
		<tr class="row">
			<th class="col-xs-1"></th>
			<th class="col-xs-2">Category</th>
			<th class="col-xs-2">Title</th>
			<th class="col-xs-2">Sponsor</th>
			<th class="col-xs-2">File</th>
			<th class="col-xs-1">Status</th>
			<th class="col-xs-2">Action</th>
		</tr>
		</thead>
		<tbody ng-repeat="x in sponsors">
		<tr class="row accordion-toggle" 
			data-toggle="collapse"
			data-parent="#parenttable" href="#hidden{{x.nominationId}}"
			aria-expanded="false" aria-controls="hidden{{x.nominationId}}"
			ng-class="{'selected':$index == selectedRow}"
			ng-click="setClickedRow($index);viewsubmission(x);hideothers()"
			style="cursor: pointer;">
			<td class="col-xs-1">{{$index+1}}</td>
			<td class="col-xs-2">{{x.selectedCategory}}</td>
			<td class="col-xs-2">{{x.nomination}}</td>
			<td class="col-xs-2">{{x.sponsorMailNickname}}</td>
			<td class="col-xs-2" ng-if="x.filekey != ''"><a
				type="application/x-zip-compressed" href="javascript:void(0);"
				ng-click="downloadfile(x.filekey,x.filename,x.filetype)">{{x.filename}}</a></td>
			<td class="col-xs-2" ng-if="x.filekey == ''"></td>
			<td class="col-xs-1">{{x.status}}</td>
			<td class="col-xs-2" ng-if="x.status=='Submitted'">
				<button type="button" class="btn btn-primary"
					ng-click="setClickedRow($index);getConfirmation('Are you sure want to Approve this nomination?') || updatenomination(x,'Approved')">Approve</button>
				<button type="button" class="btn btn-primary"
					ng-click="setClickedRow($index);getConfirmation('Are you sure want to Reject this nomination?') || updatenomination(x,'Rejected')">Reject</button>
			</td>
			<td class="col-xs-2" ng-if="x.status!='Submitted'">
				<button type="button" class="btn btn-primary disabled">Approve</button>
				<button type="button" class="btn btn-primary disabled">Reject</button>
			</td>
		</tr>
		<tr>
						<td colspan="9" class="hiddenRow" style="border-top: 0px;">
							<div class="accordion-body collapse hidden{{x.nominationId}}"
								id="hidden{{x.nominationId}}">
								<div ng-include="'submissionform.html'"></div>
							</div>
						</td>
					</tr>
		</tbody>
	</table>
	</div>
</div>
